{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block body %}
<div class="content-section">
    <button onclick="history.back()">Go Back</button>
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1 style="text-align:center;">Installment Payment Details</h1>
            <h3 style="text-align:center;">Customer Name: {{customer.name}}</h3>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
